<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0">
    <proxies>
        <proxy>
            <id>build-proxy</id>
            <active>@enabled@</active>
            <protocol>http</protocol>
            <host>@host@</host>
            <port>@port@</port>
        </proxy>
    </proxies>
</settings>
